@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
    display: grid;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 999;
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    background-color: teal;
    color: white;
    transition: all 1s ease-out;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.navbar .logo:hover {
    letter-spacing: 2px;
    color: teal!important;
    transition: all 1s ease-out;
}

.navbar .text-primary {
    color: teal;
}


/* Header */
.hero {
    background: url('images/sam-moqadam-Xa64MGGiQtg-unsplash.jpeg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 20px;
    max-width: 600px;
    font-family: 'Libre Franklin', sans-serif;
    margin: 20px 0 30px;
    font-weight: medium;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero * {
    z-index: 1;
}

.hero.blog {
    background: url('images/blog/blog 1.jpeg') no-repeat center center/cover;
    height: 30vh;
}

.hero a {
    color: white;
}

/* About */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .flex-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    text-align: justify;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
}

/* Lower Section */

.solutions #cases #blog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    margin-bottom: 100px;
    width: 40vw;
}


/* Icons */
.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.icons i {
    background-color: teal;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cases img:hover {
    opacity: 0.7;
}

.team img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;

}

/* Callback form */
.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form input:focus {
    outline-color:teal;
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}

/* Post */
.post {
    padding: 50px 30px;
}

.post h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}

.post .meta {
    margin-bottom: 30px;
}

.post img {
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: teal;
    transition: all 1s ease-out;
}

.footer .social > * {
    margin-right: 30px;
}

/* Mobile */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }

    .flex-items {
        flex-direction: column;
    }

    .flex-columns .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }

    .team img {
        width: 70%;
    }
}

/* Text colors */
.text-primary {
    color:teal;
}

.text-secondary {
    color: palevioletred;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: teal;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary, .bg-primary {
   background: teal;
   color: #fff;
   padding: 50px 100px 50px 100px;
   text-align: center;
}
.btn-secondary, .bg-secondary {
   background: lightseagreen;
   color: #fff;
   padding: 50px 100px 50px 100px;
   text-align: center;
}
.btn-dark, .bg-dark {
   background: teal;
   color: #fff;
}
.btn-light, .bg-light {
   background: #f4f4f4;
   color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}

/* Section header */
.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Flex grid */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

/* todo-form */

.todo-form {
    margin: 40px 0px;
    position: relative;
    z-index: 1;
  }
  
  .todo-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .add-button {
    background-color: teal;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 12px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    text-transform: uppercase;
  }

  
  /* Todo */
  
  .todo-containter {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
  }

  .todo-containter h1 {
    position: relative;
    z-index: 1;
}

  .todo-list {
    min-width: 350px;
  }
  
  .item {
    background-color: #fff;
    padding: 10px;
    font-size: 1 rem;
    border-radius: 10px;
  }
    
  .checkbox {
    margin-right: 10px;
  }
  
  .delete-button {
    float: right;
    background-color: rosybrown;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
  }
  
  .checked { 
    text-decoration: line-through;
  }
  

